# debug mode
DEBUG=true

# the port to listen on 0.0.0.0
DOMAIN=lo.yomo.dev
PORT=8443

# MESH identifier
MESH_ID=dev

# if start a yomo zipper
WITH_YOMO_ZIPPER=true

# yomo
YOMO_ZIPPER=127.0.0.1:9000
YOMO_CREDENTIAL=
YOMO_SNDR_NAME=prscd-sender
YOMO_RCVR_NAME=prscd-receiver
#YOMO_TRACE_JAEGER_ENDPOINT=http://localhost:14268/api/traces

# Server TLS
CERT_FILE=./lo.yomo.dev.cert
KEY_FILE=./lo.yomo.dev.key
